@keyframes square-1{
  0%{
    transform:scaleX(1);
  }
  12.5%{
    transform:scaleX(1)
  }
  25%{
    transform:scaleX(1)
  }
  37.5%{
    transform:scaleX(0.5)
  }
  50%{
    transform:scaleX(0)
  }
  62.5%{
    transform:scaleX(0)
  }
  75%{
    transform:scaleX(0);
    opacity:1;
  }
  76%{
    transform:scaleX(1);
    opacity:0;
    animation-timing-function:cubic-bezier(.65,.15,.86,.33);
  }
  100%{
    transform:scaleX(1);
    opacity:1;
    animation-timing-function:cubic-bezier(.65,.15,.86,.33);
  }
}
@keyframes square-2{
  0%{
    transform:scaleX(1);
  }
  12.5%{
    transform:scaleX(1)
  }
  25%{
    transform:scaleX(0.75)
  }
  37.5%{
    transform:scaleX(0.5)
  }
  50%{
    transform:scaleX(0.25)
  }
  67.5%{
    transform:scaleX(0)
  }
  75%{
    transform:scaleX(0);
    opacity:1;
  }
  76%{
    transform:scaleX(1);
    opacity:0;
    animation-timing-function:cubic-bezier(.65,.15,.86,.33);
  }
  100%{
    transform:scaleX(1);
    opacity:1;
    animation-timing-function:cubic-bezier(.65,.15,.86,.33);
  }
}
@keyframes square-3{
  0%{
    transform:scaleX(1);
    opacity:1;
  }
  12.5%{
    transform:scaleX(0.84)
  }
  25%{
    transform:scaleX(0.68)
  }
  37.5%{
    transform:scaleX(0.52)
  }
  50%{
    transform:scaleX(0.33)
  }
  62.5%{
    transform:scaleX(0.15)
  }
  75%{
    transform:scaleX(0);
    opacity:1;
  }
  76%{
    transform:scaleX(1);
    opacity:0;
    animation-timing-function:cubic-bezier(.65,.15,.86,.33);
  }
  100%{
    transform:scaleX(1);
    opacity:1;
    animation-timing-function:cubic-bezier(.65,.15,.86,.33);
  }
}
@mixin loading ($keyframes,$duration, $delay){
  transform:scaleX(1);
        animation:$keyframes $duration $delay backwards infinite cubic-bezier(0,1.19,0,.95);
        transform-origin:left;
}
body {
    display:flex;
    flex-flow:row nowrap;
    justify-content:center;
    align-items: center;
}
.loading{
  padding-top: 150px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.rice{
    font-size:150px;
    position:relative;
    &:hover{
      & ~ .square--1{
        @include loading (square-1, 2380ms, 1790ms);
      }
      & ~ .square--2{
        @include loading (square-2, 2700ms, 1490ms);
      }
      & ~ .square--3{
        @include loading (square-3, 3000ms, 1200ms);
      }
    }
  }
  .square{
    height:20px;
    position: relative;
    background:white;
    &--1{
      inset: -140px 0px;
      width:50px;
      }
    &--2{
      inset: -135px 0px;
      width:105px;
    }
    &--3{
      inset: -130px 0px;
      width:160px;
    }
    
}