
/*FONTS*/
$font-main: "Roboto", sans-serif;
$font-logo: "Shrikhand", cursive;

/*COLOURS*/
$clr-primary:#9356DC;
$clr-secondary:#FF79DA;
$clr-tertiary:#99E2D0;

$gradient-btn:linear-gradient(to bottom right, $clr-secondary, $clr-primary);
$gradient-fav:linear-gradient(to top right, $clr-secondary, $clr-primary);
$gradient-hover:linear-gradient(to bottom right, lighten($clr-secondary,5%), lighten($clr-primary,3%));

$clr-font-main:black;
$clr-font-white:white;

$clr-dark-bg:#353535;
$clr-med-bg:#eaeaea;
$clr-light-bg:#f6f6f6;
$clr-white-bg:white;

$shadow-header:0 2px 4px 0 rgb(0 0 0 / 20%);
$shadow-btn:1px 4px 8px 0 rgb(0 0 0 / 25%);
$shadow-btn-hover:2px 4px 12px 0 rgb(0 0 0 / 28%);
$shadow-card:1px 4px 10px 2px rgb(0 0 0 / 10%);
$shadow-card-hover:1px 4px 12px 3px rgb(0 0 0 / 15%);

@mixin lighter-font {
    color:lighten($clr-font-main,21%);
}
@mixin gradient-btn{
    color:$clr-font-white;
    background:$gradient-btn;
    font-size: 14px;
    border-radius: 30px;
    border-style: none;
    box-shadow:$shadow-btn;
    &--bg{
        background:$gradient-hover;
        border-radius:30px;
        box-shadow: $shadow-btn-hover;
        transition:opacity 150ms;
    }
}
@keyframes favourite-btn{
    from {
      transform:scaleY(1);
    }
    to {
      transform:scaleY(0);
    }
  }

h1 {
    margin:0;
    font-size:20px;
}
h2 {
    margin:0;
    font-size:16px;
}
h3 {
    margin:0;
    font-size: 15px;
    font-weight: 500;
}
h4{
    margin:0;
    font-size:12px;
    font-weight:600;
}
a {
    text-decoration: none;
    color:$clr-font-main;
}
p {
    font-size:14px;
    margin:0;
    font-weight:300;
}
body {
    font-family: $font-main;
    color: $clr-font-main;
    margin:0;
    display:flex;
    flex-flow: column nowrap;
    align-items: center;
  }

.btn {
    position:relative;
    z-index:1;
    &:hover{
        & .btn--bg{
            opacity:1;
        }
    }
    & .btn--bg{
        position:absolute;
        inset:0;
        opacity:0;
        z-index:-1;
    }
}

/*HEADER*/
.header {
    width:100%;
    height:65px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items:flex-start;
    z-index: 1;
    box-shadow: $shadow-header;
    &__logo {
        padding: 22px 0 12px;
        &--title-page{
            align-self:center;
        }
    }
    &__back-arrow{
        height: 20px;
        font-size: 22px;
        flex-shrink: 0;
        flex-grow:0;
        padding-left:20px;
        margin-right:-30px;
        @include lighter-font;
    }
    &--menu-page{
        box-shadow:none;
    }
}
/*HOMEPAGE ELEMENTS*/
.location {
    display:flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background: $clr-light-bg;
    width:100%;
    @include lighter-font;
    h1 {
        font-weight:500;
        font-size:15px;
        padding:20px;
    }
}
.title {
    background:$clr-med-bg;
    display:flex;
    flex-flow: column nowrap;
    align-items:center;
    width: 100%;
    padding: 45px 0 55px;
    h1 {
        padding-bottom:25px;
    }
    h2 {
        font-weight:200;
        text-align: center;
        padding:25px 45px 30px;
    }
    &__btn{
    @include gradient-btn;
    padding: 16px 33px;
}
}
.instructions {
    display: flex;
    flex-flow:column nowrap;
    align-items:center;
    width:100%;
    padding-bottom:45px;
    &__container {
        position:relative;
        display:flex;
        flex-flow:row nowrap;
        align-items:center;
        background:$clr-light-bg;
        z-index:1;
        width: 88%;
        border-radius: 20px;
        margin: 0 0 25px 10px;
        box-shadow:$shadow-card;
        &--anim-bg{
            position:absolute;
            inset:0;
            background:lighten($clr-primary, 35%);
            opacity:0;
            z-index:-1;
            
        }
    }
    &__icon {
        height: 20px;
        color:lighten($clr-font-main,49%);
        padding: 27px 20px 26px 35px;
    }
    h1 {
        padding:50px 0 30px 21px;
        align-self:flex-start;
    }
    h2 {
        font-size:14px;
        font-weight:500;
    }
    p {
        position:absolute;
        left:-10px;
        font-size:12px;
        font-weight:400;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        width:22px;
        height:22px;
        background:$clr-primary;
        color:$clr-font-white;
        border-radius:15px;
    }
    
}
.restaurants {
    display:flex;
    flex-flow:column nowrap;
    align-items:center;
    width:100%;
    background:$clr-light-bg;
    h1 {
        margin: 60px 20px 20px; 
        align-self: flex-start;
    }
}
.card {
    width:90%;
    margin:10px 0;
    box-shadow:$shadow-card;
    border-radius:15px;
    z-index:0;
    &__img {
        width:100%;
        height:175px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        display: block;
        object-fit:cover;
    }
    &__container {
        display:flex;
        flex-flow:row nowrap;
        justify-content:space-between;
        background:$clr-white-bg;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        &__text {
            display:flex;
            flex-flow:column nowrap;
        }
        h2 {
            font-size:14px;
            padding:0;
            padding: 18px 14px 8px;
        }
        p {
            padding: 0 14px 18px;
        }
        &__heart{
            height: 21px;
            padding:24px;
            }
        }
    
    &:hover{
        box-shadow: $shadow-card-hover;
    }
}

/*MENU PAGE ELEMENTS*/
.menu-page-bg {
    background-color: $clr-white-bg;
    background-size:cover;
    width:100%;
    height:270px;
    &--bastille{
        background-image:url(/img/bastille.png);
    }
    }
.favourite{
    position:relative;
    background:$clr-light-bg;
    margin:0px;
    border-bottom-right-radius: 15px;
    &--home{
        background:$clr-white-bg;
    }
}
.fa-heart {
    font-size:20px;
    font-weight: 900;
}
.top-heart {
    position:relative;
    z-index:3;
    background:transparent;
    &--home {
        padding:25px;
    }
    &:hover{
        opacity:0;
        transition:opacity 250ms ease-in;
        & + .fa-square{
        transform:scaleY(0);
        transform-origin:top;
        animation:favourite-btn 220ms cubic-bezier(0,.52,.82,.61);
        }
    }
}
.fa-square {
    position:absolute;
    z-index:2;
    inset:-3px 0 0 0;
    font-size:35px;
    color:$clr-light-bg;
    opacity:100%;
    &--home {
        inset:19px;
        color:$clr-white-bg;
    }
}
.fa-gradient {
    position:absolute;
    z-index:1;
    inset:0;
    background: $gradient-fav;
    background-clip:text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    &--home{
        inset:25px;
    }
}
      
.menu {
    background:$clr-light-bg;
    display:flex;
    flex-flow:column nowrap;
    width:100%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    margin-top:-55px;
    padding-bottom:80px;
    &__heading{
        display:flex;
        flex-flow:row nowrap;
        align-items:center;
        justify-content: space-between;
        padding: 40px 40px 45px 20px;
    }
    h1 {
        font-family: $font-logo;
    }
}
@keyframes opacity_0-100{
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}
@mixin page-load-animation ($delay){
    transform:opacity(0);
    animation:opacity_0-100 1400ms $delay both cubic-bezier(0.71, 0.19, 0.32, 1.08); 
}
.course{
    display:flex;
    flex-flow:column nowrap;
    align-items:flex-start;
    width:100%;
    margin-bottom:45px;
    h2{
        font-weight: 300;
        margin: 0 0 5px 20px;
        font-size: 15px;
        @include page-load-animation (1200ms); 
    }
    hr {
        width:40px;
        border: 0px none $clr-tertiary;
        border-top: 3px solid $clr-tertiary;
        margin:0 0 0 20px;
        @include page-load-animation (1600ms);
    }
    &__menu-item{
        display:flex;
        flex-flow:column wrap;
        overflow:hidden;
        background:$clr-white-bg;
        border-radius:15px;
        box-shadow: $shadow-card;
        width:92%;
        height:70px;
        margin: 14px 0 0 14px;
        h3{
            padding:16px 0 10px 10px;
        }
        p{
            font-size:10px;
            padding: 0 0 16px 10px;
        }
        h4{
            padding:40px 20px 0 0;
            text-align:right;
        }
        &--description{
            width:85%;
        }
        &--price{
            width:15%;
            flex-grow:0;
            transition:transform 750ms;

        }
        &1{
            @include page-load-animation(2000ms);
        }
        &2{
            @include page-load-animation(2400ms);
        }
        &3{
            @include page-load-animation(2800ms);
        }
        &:hover{
            .course__menu-item--price{
                transform:translate(-60px);
            }
            & >.course__selected{
            transform:translate(0px);
                & >.fa-circle-check{
                transform:rotate(360deg);
                }
            }
        }
    }

    &__selected{
        position:relative;
        display:flex;
        justify-content:center;
        align-items:center;
        left:-60px;
        width:60px;
        height:70px;
        z-index:2;
        border-top-right-radius:15px;
        border-bottom-right-radius:15px;
        background:$clr-tertiary;
        color:$clr-font-white;
        font-size:20px;
        transform-origin:100%;
        transform:translate(60px);
        transition:transform 750ms;
    }
    .fa-circle-check{
        transition:transform 750ms;
    }
    &__btn{
        @include gradient-btn;
        padding:17px;
        width:190px;
        align-self:center;
    }
}
/*FOOTER*/
.footer {
    width:100%;
    background:$clr-dark-bg;
    color:$clr-font-white;
    &__img {
        filter: invert(1);
        height:18px;
        padding:26px 25px 23px;
    }
    &__list {
        padding:0 25px 38px;
        margin:0;
        &__icon {
            padding-right:12px;
        }
        &__item {
            list-style: none;
            font-size: 13px;
            padding:0 0 12px;
            a {
                color:$clr-font-white;
            }
        }
    }
}