
$body-text-font: "Roboto", sans-serif;
$logo-font: "Shrikhand", cursive;

body {
    font-family: $body-text-font;
    color: black;
  }
header h1 {
    font-family: $logo-font;
    font-size: 20px;
}
#location {
    display:flex;
    flex-flow: row nowrap;
    background: #eaeaea;
}
    
