/*FONTS*/
$font-main: "Roboto", sans-serif;
$font-logo: "Shrikhand", cursive;

/*COLOURS*/
$clr-primary:#9356DC;
$clr-secondary:#FF79DA;
$clr-tertiary:#99E2D0;

/*GRADIENTS*/
$gradient-btn:linear-gradient(to bottom right, $clr-secondary, $clr-primary);
$gradient-fav:linear-gradient(to top right, $clr-secondary, $clr-primary);
$gradient-hover:linear-gradient(to bottom right, lighten($clr-secondary,5%), lighten($clr-primary,3%));

/*FONT COLOURS*/
$clr-font-main:black;
$clr-font-dark:lighten($clr-font-main,20%);
$clr-font-med:lighten($clr-font-main,50%);
$clr-font-light:lighten($clr-font-main,80%);
$clr-font-white:white;

/*BACKGROUND COLOURS*/
$clr-dark-bg:#353535;
$clr-med-bg:#eaeaea;
$clr-light-bg:#f6f6f6;
$clr-white-bg:white;

/*BOX-SHADOWS*/
$shadow-header:0 2px 4px 0 rgb(0 0 0 / 20%);
$shadow-btn:1px 4px 8px 0 rgb(0 0 0 / 25%);
$shadow-btn-hover:2px 4px 12px 0 rgb(0 0 0 / 28%);
$shadow-card:1px 4px 10px 2px rgb(0 0 0 / 10%);
$shadow-card-hover:1px 4px 12px 3px rgb(0 0 0 / 15%);
$shadow-new:2px 1px 4px 0px rgb(0 0 0 / 12%);

/*MIXINS FOR OPACITY TRANSITIONS*/
@mixin under-layer{
    position:relative;
    z-index:1;
}
@mixin top-layer{
    position:absolute;
        inset:0;
        opacity:0;
        z-index:-1;
}

/*ANIMATION MIXINS*/
@mixin menu-page-load-animation ($delay){
    animation:opacity_0-100 1400ms $delay both cubic-bezier(0.71, 0.19, 0.32, 1.08); 
}
@mixin instructions-animation ($keyframes) {
    animation: $keyframes 6000ms both infinite linear; 
}
@mixin loading-rice-animation ($keyframes){
    transform:scaleX(1);
          animation:$keyframes 1500ms 500ms backwards infinite cubic-bezier(0,1.19,0,.95);
          transform-origin:left;
  }

/*GRADIENT BUTTON*/
@mixin gradient-btn{
    color:$clr-font-white;
    background:$gradient-btn;
    font-size: 14px;
    border-radius: 30px;
    border-style: none;
    box-shadow:$shadow-btn;
    &--bg{
        background:$gradient-hover;
        border-radius:30px;
        box-shadow: $shadow-btn-hover;
        transition:opacity 150ms;
    }
}

/*FAVOURITE ICONS*/
@keyframes favourite-btn{
    from {
      transform:scaleY(1);
    }
    to {
      transform:scaleY(0);
    }
  }
@keyframes opacity_0-100{
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}

/*INSTRUCTIONS-PURPLE BLOCKS*/
@keyframes instructions_opacity_1{
    0%{
        opacity:0;
    }
    12.5%{
        opacity:0.75;
    }
  25%{
    opacity:1;
  }
    37.5%{
      opacity:0.4;
    }
    62.5%{
        opacity:0;
    }
    100%{
        opacity:0;
  }
}
@keyframes instructions_opacity_2{
    0%{
        opacity:0;
    }
    12.5%{
        opacity:0;
    }
    37.5%{
      opacity:0.75;
    }
  50%{
    opacity:1;
  }
    62.5%{
        opacity:0.4;
    }
    87.5%{
        opacity:0;
  }
    100%{
        opacity:0;
  }
}
@keyframes instructions_opacity_3{
   0%{
        opacity:0;
    }
    37.5%{
      opacity:0;
    }
    62.5%{
        opacity:0.75;
    }
  75%{
    opacity:1;
  }
    87.5%{
        opacity:0.4;
  }
    100%{
        opacity:0;
  }
}

/*LOADING PAGE*/
@keyframes loading-screen{
    0%{
      opacity:1;
  }
  94%{
    opacity:1;
    transform:scaleX(1);
  }
  99%{
    opacity:0;
    transform:scaleX(1);
  }
  100%{
    opacity:0;
    transform:scaleX(0);
  }
  }

/*LOADING PAGE- RICE GRAINS*/
@keyframes square-1{
    0%{
      transform:scaleX(1);
    }
    12%{
      transform:scaleX(1)
    }
    32%{
      transform:scaleX(1)
    }
    43.5%{
      transform:scaleX(0.5)
    }
    51.5%{
      transform:scaleX(0)
    }
    72%{
      transform:scaleX(0);
      opacity:1;
    }
    73%{
      transform:scaleX(1);
      opacity:0;
      animation-timing-function:cubic-bezier(.65,.15,.86,.33);
    }
    88%{
      opacity:1;
    }
    100%{
      transform:scaleX(1);
      opacity:1;
      animation-timing-function:cubic-bezier(.65,.15,.86,.33);
    }
  }
@keyframes square-2{
    0%{
      transform:scaleX(1);
    }
    15%{
      transform:scaleX(1)
    }
    27%{
      transform:scaleX(0.75)
    }
    39.5%{
      transform:scaleX(0.5)
    }
    52%{
      transform:scaleX(0.25)
    }
    64.5%{
      transform:scaleX(0)
    }
    72%{
      transform:scaleX(0);
      opacity:1;
    }
    73%{
      transform:scaleX(1);
      opacity:0;
      animation-timing-function:cubic-bezier(.65,.15,.86,.33);
    }
    88%{
      opacity:1;
    }
    100%{
      transform:scaleX(1);
      opacity:1;
      animation-timing-function:cubic-bezier(.65,.15,.86,.33);
    }
  }
@keyframes square-3{
    0%{
      transform:scaleX(1);
      opacity:1;
    }
    
    10.5%{
      transform:scaleX(0.84)
    }
    20%{
      transform:scaleX(0.68)
    }
    34.5%{
      transform:scaleX(0.52)
    }
    47%{
      transform:scaleX(0.33)
    }
    59.5%{
      transform:scaleX(0.15)
    }
    72%{
      transform:scaleX(0);
      opacity:1;
    }
    73%{
      transform:scaleX(1);
      opacity:0;
      animation-timing-function:cubic-bezier(.65,.15,.86,.33);
    }
    88%{
      opacity:1;
    }
    100%{
      transform:scaleX(1);
      opacity:1;
      animation-timing-function:cubic-bezier(.65,.15,.86,.33);
    }
  }

.loading-screen {
    position:absolute;
    z-index:10;
    width:100%;
    height:2500px;
      display:flex;
      flex-flow:row nowrap;
      justify-content:center;
      background-color: white;
      opacity:1;
      animation:loading-screen 3s both;
  }
.loading{
    padding-top: 150px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }
.rice{
      font-size:150px;
      color:$clr-font-dark;
      position:relative;
    }
.square{
      height:20px;
      position: relative;
      background:white;
    &--1{
        inset: -140px 0px;
        width:50px;
        @include loading-rice-animation (square-1);
        }
    &--2{
        inset: -135px 0px;
        width:105px;
        @include loading-rice-animation (square-2);
      }
    &--3{
        inset: -130px 0px;
        width:160px;
        @include loading-rice-animation (square-3);
      }
      
}

/*TEXT*/
h1 {
    margin:0;
    font-size:20px;
}
h2 {
    margin:0;
    font-size:16px;
}
h3 {
    margin:0;
    font-size: 15px;
    font-weight: 500;
}
h4{
    margin:0;
    font-size:12px;
    font-weight:600;
}
a {
    text-decoration: none;
    color:$clr-font-main;
}
p {
    font-size:14px;
    margin:0;
    font-weight:300;
}
/*BUTTONS*/
.btn {
    @include under-layer;
    &:hover{
        & .btn--bg{
            opacity:1;
        }
    }
    & .btn--bg{
        @include top-layer;
    }
}
body {
    font-family: $font-main;
    color: $clr-font-main;
    margin:0;
    display:flex;
    flex-flow: column nowrap;
    align-items: center;
  }
/*HEADER*/
.header {
    width:100%;
    height:65px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items:flex-start;
    z-index: 1;
    box-shadow: $shadow-header;
    &__logo {
        padding: 22px 0 12px;
        &--title-page{
            align-self:center;
        }
    }
    &__back-arrow{
        height: 20px;
        font-size: 22px;
        flex-shrink: 0;
        flex-grow:0;
        padding-left:20px;
        margin-right:-30px;
        color:$clr-font-dark;
    }
    &--menu-page{
        box-shadow:none;
    }
}
/*HOMEPAGE ELEMENTS*/
.location {
    display:flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background: $clr-light-bg;
    width:100%;
    color:$clr-font-dark;
    h1 {
        font-weight:500;
        font-size:15px;
        padding:20px;
    }
}
.title {
    background:$clr-med-bg;
    display:flex;
    flex-flow: column nowrap;
    align-items:center;
    width: 100%;
    padding: 45px 0 55px;
    h1 {
        padding-bottom:25px;
    }
    h2 {
        font-weight:200;
        text-align: center;
        padding:25px 45px 30px;
    }
    &__btn{
    @include gradient-btn;
    padding: 16px 33px;
}
}
.instructions {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;
    padding-bottom: 45px;
    &__container {
      position: relative;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      background: $clr-light-bg;
      z-index: 1;
      width: 88%;
      border-radius: 20px;
      margin: 0 0 25px 10px;
      box-shadow: $shadow-card;
      &--anim-bg {
        position: absolute;
        inset: 0;
        background: lighten($clr-primary, 32%); 
        border-radius:15px;
        z-index:-1;
        &1{
          @include instructions-animation (instructions_opacity_1,);
        }
        &2{
          @include instructions-animation (instructions_opacity_2);
        }
        &3{
          @include instructions-animation (instructions_opacity_3);
        }
      }
    }
    &__icons {
      @include under-layer;
    }
    &__icon {
      height: 20px;
      color: $clr-font-med;
      padding: 27px 20px 26px 35px;
      &--anim {
        color:$clr-primary;
        @include top-layer;
        z-index:2;
        &1{
          @include instructions-animation (instructions_opacity_1);
        }
        &2{
          @include instructions-animation (instructions_opacity_2);
        }
        &3{
          @include instructions-animation (instructions_opacity_3);
        }
      }
    }
    h1 {
      padding: 50px 0 30px 21px;
      align-self: flex-start;
    }
    h2 {
      font-size: 14px;
      font-weight: 500;
    }
    p {
      position: absolute;
      left: -10px;
      font-size: 12px;
      font-weight: 400;
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-items: center;
      width: 22px;
      height: 22px;
      background: $clr-primary;
      color: $clr-font-white;
      border-radius: 15px;
    }
  }
.restaurants {
    display:flex;
    flex-flow:column nowrap;
    align-items:center;
    width:100%;
    padding-bottom: 65px;
    background:$clr-light-bg;
    h1 {
        margin: 60px 20px 20px; 
        align-self: flex-start;
    }
}
.card {
  display:flex;
  flex-flow:column nowrap;
    width:90%;
    margin:10px 0;
    box-shadow:$shadow-card;
    border-radius:15px;
    z-index:0;
    &__new {
    display: flex;
    z-index: 3;
    position: relative;
    inset: -160px -15px;
    align-self: flex-end;
    justify-content: center;
    align-items: center;
    background: $clr-tertiary;
    font-size:12px;
    color: darken($clr-tertiary, 50%);
    height: 30px;
    width: 80px;
    margin-bottom: -30px;
    box-shadow: $shadow-new;
    }
    &__img {
        width:100%;
        position:relative;
        height:175px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        display: block;
        top:-10px;
        object-fit:cover;
    }
    &__container {
        display:flex;
        flex-flow:row nowrap;
        justify-content:space-between;
        background:$clr-white-bg;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        &__text {
            display:flex;
            flex-flow:column nowrap;
        }
        h2 {
            font-size:14px;
            padding:0;
            padding: 18px 14px 8px;
        }
        p {
            padding: 0 14px 18px;
        }
        &__heart{
            height: 21px;
            padding:24px;
            }
        }
    
    &:hover{
        box-shadow: $shadow-card-hover;
    }
}

/*MENU PAGE ELEMENTS*/
.menu-page-bg {
    background-color: $clr-white-bg;
    background-size:cover;
    width:100%;
    height:270px;
    &--bastille{
        background-image:url(/img/bastille.jpg);
    }
    }
.favourite{
    position:relative;
    background:$clr-light-bg;
    margin:0px;
    border-bottom-right-radius: 15px;
    &--home{
        background:$clr-white-bg;
    }
}
.fa-heart {
    font-size:20px;
    font-weight: 900;
}
.top-heart {
    position:relative;
    z-index:3;
    background:transparent;
    &--home {
        padding:25px;
    }
    &:hover{
        opacity:0;
        transition:opacity 250ms ease-in;
        & + .fa-square{
        transform:scaleY(0);
        transform-origin:top;
        animation:favourite-btn 220ms cubic-bezier(0,.52,.82,.61);
        }
    }
}
.fa-square {
    position:absolute;
    z-index:2;
    inset:-3px 0 0 0;
    font-size:35px;
    color:$clr-light-bg;
    opacity:100%;
    &--home {
        inset:19px;
        color:$clr-white-bg;
    }
}
.fa-gradient {
    position:absolute;
    z-index:1;
    inset:0;
    background: $gradient-fav;
    background-clip:text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    &--home{
        inset:25px;
    }
}
      
.menu {
    background:$clr-light-bg;
    display:flex;
    flex-flow:column nowrap;
    width:100%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    margin-top:-55px;
    padding-bottom:80px;
    &__heading{
        display:flex;
        flex-flow:row nowrap;
        align-items:center;
        justify-content: space-between;
        padding: 40px 40px 45px 20px;
    }
    h1 {
        font-family: $font-logo;
    }
}
.course{
    display:flex;
    flex-flow:column nowrap;
    align-items:flex-start;
    width:100%;
    margin-bottom:45px;
    h2{
        font-weight: 300;
        margin: 0 0 5px 20px;
        font-size: 15px;
        @include menu-page-load-animation (1200ms); 
    }
    hr {
        width:40px;
        border: 0px none $clr-tertiary;
        border-top: 3px solid $clr-tertiary;
        margin:0 0 0 20px;
        @include menu-page-load-animation (1600ms);
    }
    &__menu-item{
        display:flex;
        flex-flow:column wrap;
        overflow:hidden;
        background:$clr-white-bg;
        border-radius:15px;
        box-shadow: $shadow-card;
        width:92%;
        height:70px;
        margin: 14px 0 0 14px;
        h3{
            padding:16px 0 10px 10px;
        }
        p{
            font-size:10px;
            padding: 0 0 16px 10px;
        }
        h4{
            padding:40px 20px 0 0;
            text-align:right;
        }
        &--description{
            width:85%;
        }
        &--price{
            width:15%;
            flex-grow:0;
            transition:transform 750ms;

        }
        &1{
            @include menu-page-load-animation(2000ms);
        }
        &2{
            @include menu-page-load-animation(2400ms);
        }
        &3{
            @include menu-page-load-animation(2800ms);
        }
        &:hover{
            .course__menu-item--price{
                transform:translate(-60px);
            }
            & >.course__selected{
            transform:translate(0px);
                & >.fa-circle-check{
                transform:rotate(360deg);
                }
            }
        }
    }

    &__selected{
        position:relative;
        display:flex;
        justify-content:center;
        align-items:center;
        left:-60px;
        width:60px;
        height:70px;
        z-index:2;
        border-top-right-radius:15px;
        border-bottom-right-radius:15px;
        background:$clr-tertiary;
        color:$clr-font-white;
        font-size:20px;
        transform-origin:100%;
        transform:translate(60px);
        transition:transform 750ms;
    }
    .fa-circle-check{
        transition:transform 750ms;
    }
    &__btn{
        @include gradient-btn;
        padding:17px;
        width:190px;
        align-self:center;
    }
}
/*FOOTER*/
.footer {
    width:100%;
    background:$clr-dark-bg;
    color:$clr-font-white;
    &__img {
        filter: invert(1);
        height:18px;
        padding:26px 25px 23px;
    }
    &__list {
        padding:0 25px 38px;
        margin:0;
        &__icon {
            padding-right:12px;
        }
        &__item {
            list-style: none;
            font-size: 13px;
            padding:0 0 12px;
            a {
                color:$clr-font-white;
                &:hover{
                    color:$clr-font-light;
                }
            }
        }
    }
}
/*MEDIA QUERIES*/
@media screen and (min-width:768px){
  h1 {
    font-size: 21px;
  }
  .title {
    h1 {
      padding-bottom:20px;
    }
    h2 {
    font-size: 17px;
    padding: 20px 45px 35px;
    }
    &__btn{
      font-size:15px;
    }
  }
  .menu-page-bg{
    height:285px;
    &--bastille {
      background-position: 0px -195px;
    }
  }
  .restaurants {
    flex-flow:row wrap; 
    justify-content: space-evenly;
    h1{
      margin: 50px 50px 30px;
      align-self: flex-start;
      width: 100%;
    }
}
.instructions {
  h1 {
    align-self: center;
    padding: 50px 0 30px;
  }
  h2 {
    font-size:16px;
  }
  &__container{
    width:60%;
  }
}
.card {
  width:40%;
  margin-bottom:40px;
}
.menu {
  h1 {
    font-size: 22px;
  }
  &__heading {
    padding: 45px 55px 45px 50px;
  }
  .fa-heart {
    font-size:23px;
  }
}
.course {
  width:95%;
  padding:16px;
  margin: 0px 15px 55px;
  }
}
.footer{
  &__img {
    padding: 40px 40px 25px;
  }
  &__list {
    padding: 0 40px 40px;
  }
}
@media screen and (min-width:992px){
  .menu-page-bg{
    height:300px;
    &--bastille {
      background-position: 0px -340px;
    }
  }
  h1 {
    font-size: 22px;
  }
  .card {
    width:22%;
    margin-bottom: 10px;
  }
  .restaurants {
    h1 {
      margin: 50px 40px 30px;
    }
  }
  .menu {
  h1 {
    font-size: 24px;
  }
  &__heading {
    padding: 45px 100px 45px 70px;
  }
  .fa-heart {
    font-size:24px;
  }
}
.course {
  margin: 0px 50px 55px;
  &__btn{
    width:200px;
    font-size:16px;
  }
  h2 {
    font-size:16px;
  }
  &__selected {
    height:75px;
  }
  &__menu-item {
    height:75px;
    h3{
      font-size: 16px;
      padding: 16px 0 10px 15px;
    }
    h4{
        padding: 40px 25px 0 0;
        font-size:13px;
    }
    p{
      font-size: 12px;
      padding: 0 0 16px 15px;
    }
  }
}

  .footer {
    &__img {
      padding: 45px 40px 25px;
    }
  }
}